body {
    font-family: Arial, sans-serif;
    background-color: #5e5e5e;
    margin: 0;
    padding: 20px;
}
form {
    width: 300px;
    margin: 0px auto;
    padding: 50px;
    background-color: rgb(165, 196, 167);
    border: 2px solid black;
    border-radius: 10px;
}
.titulo{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    width: 350px;
}
div {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}
